In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import joblib

In [2]:
df = pd.read_csv(r"D:\Books\study\python\programs\ML Practice\Gender Classification\NationalNames\NationalNames.csv")

In [4]:
df.head()

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

In [3]:
df = df.drop(['Id','Count','Year'],axis=1)
#df.head()

In [6]:
df.head(-1)

              Name Gender
0             Mary      F
1             Anna      F
2             Emma      F
3        Elizabeth      F
4           Minnie      F
...            ...    ...
1825427       Zyel      M
1825428     Zykeem      M
1825429     Zymeer      M
1825430    Zymiere      M
1825431      Zyran      M

[1825432 rows x 2 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])

In [8]:
df.head()

        Name  Gender
0       Mary       0
1       Anna       0
2       Emma       0
3  Elizabeth       0
4     Minnie       0

In [5]:
df['Name'] = df['Name'].apply(lambda s:s.lower())

In [6]:
X = df['Name'].values
y = df['Gender'].values

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X_train_mat = vectorizer.fit_transform(X_train)
X_test_mat = vectorizer.transform(X_test)

In [9]:
from sklearn.naive_bayes import MultinomialNB
model_NB = MultinomialNB()
model_NB.fit(X_train_mat,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [10]:
model_NB.score(X_test_mat,y_test)

0.8971231514680063

In [16]:
from sklearn.svm import SVC
model_svc = SVC(kernel='rbf',C=1000,gamma=0.1)
model_svc.fit(X_train_mat,y_train)

In [11]:
from sklearn.linear_model import SGDClassifier
model_SGD = SGDClassifier()
model_SGD.fit(X_train_mat,y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate=&#39;optimal&#39;, loss=&#39;hinge&#39;,
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty=&#39;l2&#39;,
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [12]:
model_SGD.score(X_test_mat,y_test)

0.5922369188713923

In [13]:
joblib.dump(model_NB,'model_NB.joblib')
joblib.dump(vectorizer,'vectorizer.joblib')

[&#39;vectorizer.joblib&#39;]

In [15]:
ada = joblib.load('model_NB.joblib')