In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
tf.__version__

'2.3.0'

In [3]:
df = pd.read_csv('Churn_Modelling.csv')

In [4]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
X = df.iloc[:,3:-1].values
y = df.iloc[:,-1].values

In [6]:
X[:10]

array([[619, 'France', 'Female', 42, 2, 0.0, 1, 1, 1, 101348.88],
       [608, 'Spain', 'Female', 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [502, 'France', 'Female', 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [699, 'France', 'Female', 39, 1, 0.0, 2, 0, 0, 93826.63],
       [850, 'Spain', 'Female', 43, 2, 125510.82, 1, 1, 1, 79084.1],
       [645, 'Spain', 'Male', 44, 8, 113755.78, 2, 1, 0, 149756.71],
       [822, 'France', 'Male', 50, 7, 0.0, 2, 1, 1, 10062.8],
       [376, 'Germany', 'Female', 29, 4, 115046.74, 4, 1, 0, 119346.88],
       [501, 'France', 'Male', 44, 4, 142051.07, 2, 0, 1, 74940.5],
       [684, 'France', 'Male', 27, 2, 134603.88, 1, 1, 1, 71725.73]],
      dtype=object)

In [7]:
y[:10]

array([1, 0, 1, 0, 0, 1, 0, 1, 0, 0])

In [8]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,2] = le.fit_transform(X[:,2])

In [10]:
X[:10]

array([[619, 'France', 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
       [608, 'Spain', 0, 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [502, 'France', 0, 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [699, 'France', 0, 39, 1, 0.0, 2, 0, 0, 93826.63],
       [850, 'Spain', 0, 43, 2, 125510.82, 1, 1, 1, 79084.1],
       [645, 'Spain', 1, 44, 8, 113755.78, 2, 1, 0, 149756.71],
       [822, 'France', 1, 50, 7, 0.0, 2, 1, 1, 10062.8],
       [376, 'Germany', 0, 29, 4, 115046.74, 4, 1, 0, 119346.88],
       [501, 'France', 1, 44, 4, 142051.07, 2, 0, 1, 74940.5],
       [684, 'France', 1, 27, 2, 134603.88, 1, 1, 1, 71725.73]],
      dtype=object)

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('eyuncoder', OneHotEncoder(),[1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [12]:
X[:10]

array([[1.0, 0.0, 0.0, 619, 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
       [0.0, 0.0, 1.0, 608, 0, 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [1.0, 0.0, 0.0, 502, 0, 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [1.0, 0.0, 0.0, 699, 0, 39, 1, 0.0, 2, 0, 0, 93826.63],
       [0.0, 0.0, 1.0, 850, 0, 43, 2, 125510.82, 1, 1, 1, 79084.1],
       [0.0, 0.0, 1.0, 645, 1, 44, 8, 113755.78, 2, 1, 0, 149756.71],
       [1.0, 0.0, 0.0, 822, 1, 50, 7, 0.0, 2, 1, 1, 10062.8],
       [0.0, 1.0, 0.0, 376, 0, 29, 4, 115046.74, 4, 1, 0, 119346.88],
       [1.0, 0.0, 0.0, 501, 1, 44, 4, 142051.07, 2, 0, 1, 74940.5],
       [1.0, 0.0, 0.0, 684, 1, 27, 2, 134603.88, 1, 1, 1, 71725.73]],
      dtype=object)

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [17]:
ann = tf.keras.models.Sequential()

In [19]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

In [20]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [22]:
ann.fit(X_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 0s 885us/step - loss: 0.5571 - accuracy: 0.7343
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4614 - accuracy: 0.8006
Epoch 3/100
250/250 [==============================] - 0s 964us/step - loss: 0.4373 - accuracy: 0.8060
Epoch 4/100
250/250 [==============================] - 0s 970us/step - loss: 0.4267 - accuracy: 0.8121
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4197 - accuracy: 0.8175
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4139 - accuracy: 0.8232
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4072 - accuracy: 0.8286
Epoch 8/100
250/250 [==============================] - 0s 948us/step - loss: 0.3995 - accuracy: 0.8344
Epoch 9/100
250/250 [==============================] - 0s 897us/step - loss: 0.3891 - accuracy: 0.8382
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3777 - accuracy: 0.8443
Epoch 11/100
250/250 [==============================] - 0s 953us/step - loss: 0.3680 - accuracy: 0.8494
Epoch 12/100
250/250 [==============================] - 0s 961us/step - loss: 0.3612 - accuracy: 0.8511
Epoch 13/100
250/250 [==============================] - 0s 924us/step - loss: 0.3566 - accuracy: 0.8528
Epoch 14/100
250/250 [==============================] - 0s 926us/step - loss: 0.3537 - accuracy: 0.8540
Epoch 15/100
250/250 [==============================] - 0s 939us/step - loss: 0.3512 - accuracy: 0.8549
Epoch 16/100
250/250 [==============================] - 0s 919us/step - loss: 0.3497 - accuracy: 0.8555
Epoch 17/100
250/250 [==============================] - 0s 925us/step - loss: 0.3488 - accuracy: 0.8575
Epoch 18/100
250/250 [==============================] - 0s 918us/step - loss: 0.3473 - accuracy: 0.8587
Epoch 19/100
250/250 [==============================] - 0s 928us/step - loss: 0.3467 - accuracy: 0.8596
Epoch 20/100
250/250 [==============================] - 0s 948us/step - loss: 0.3460 - accuracy: 0.8601
Epoch 21/100
250/250 [==============================] - 0s 954us/step - loss: 0.3455 - accuracy: 0.8581
Epoch 22/100
250/250 [==============================] - 0s 922us/step - loss: 0.3454 - accuracy: 0.8580
Epoch 23/100
250/250 [==============================] - 0s 935us/step - loss: 0.3445 - accuracy: 0.8593
Epoch 24/100
250/250 [==============================] - 0s 899us/step - loss: 0.3440 - accuracy: 0.8591
Epoch 25/100
250/250 [==============================] - 0s 931us/step - loss: 0.3438 - accuracy: 0.8597
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3433 - accuracy: 0.8609
Epoch 27/100
250/250 [==============================] - 0s 923us/step - loss: 0.3425 - accuracy: 0.8590
Epoch 28/100
250/250 [==============================] - 0s 913us/step - loss: 0.3429 - accuracy: 0.8593
Epoch 29/100
250/250 [==============================] - 0s 980us/step - loss: 0.3424 - accuracy: 0.8591
Epoch 30/100
250/250 [==============================] - 0s 999us/step - loss: 0.3423 - accuracy: 0.8608
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3418 - accuracy: 0.8609
Epoch 32/100
250/250 [==============================] - 0s 927us/step - loss: 0.3415 - accuracy: 0.8620
Epoch 33/100
250/250 [==============================] - 0s 914us/step - loss: 0.3415 - accuracy: 0.8620
Epoch 34/100
250/250 [==============================] - 0s 928us/step - loss: 0.3413 - accuracy: 0.8609
Epoch 35/100
250/250 [==============================] - 0s 974us/step - loss: 0.3406 - accuracy: 0.8620
Epoch 36/100
250/250 [==============================] - 0s 943us/step - loss: 0.3402 - accuracy: 0.8615
Epoch 37/100
250/250 [==============================] - 0s 992us/step - loss: 0.3402 - accuracy: 0.8621
Epoch 38/100
250/250 [==============================] - 0s 937us/step - loss: 0.3396 - accuracy: 0.8627
Epoch 39/100
250/250 [==============================] - 0s 939us/step - loss: 0.3397 - accuracy: 0.8608
Epoch 40/100
250/250 [==============================] - 0s 908us/step - loss: 0.3392 - accuracy: 0.8619
Epoch 41/100
250/250 [==============================] - 0s 935us/step - loss: 0.3390 - accuracy: 0.8625
Epoch 42/100
250/250 [==============================] - 0s 943us/step - loss: 0.3389 - accuracy: 0.8622
Epoch 43/100
250/250 [==============================] - 0s 925us/step - loss: 0.3388 - accuracy: 0.8629
Epoch 44/100
250/250 [==============================] - 0s 967us/step - loss: 0.3383 - accuracy: 0.8631
Epoch 45/100
250/250 [==============================] - 0s 944us/step - loss: 0.3385 - accuracy: 0.8616
Epoch 46/100
250/250 [==============================] - 0s 935us/step - loss: 0.3380 - accuracy: 0.8629
Epoch 47/100
250/250 [==============================] - 0s 960us/step - loss: 0.3375 - accuracy: 0.8636
Epoch 48/100
250/250 [==============================] - 0s 956us/step - loss: 0.3374 - accuracy: 0.8626
Epoch 49/100
250/250 [==============================] - 0s 993us/step - loss: 0.3375 - accuracy: 0.8620
Epoch 50/100
250/250 [==============================] - 0s 961us/step - loss: 0.3365 - accuracy: 0.8630
Epoch 51/100
250/250 [==============================] - 0s 898us/step - loss: 0.3366 - accuracy: 0.8626
Epoch 52/100
250/250 [==============================] - 0s 933us/step - loss: 0.3360 - accuracy: 0.8626
Epoch 53/100
250/250 [==============================] - 0s 901us/step - loss: 0.3359 - accuracy: 0.8634
Epoch 54/100
250/250 [==============================] - 0s 936us/step - loss: 0.3358 - accuracy: 0.8619
Epoch 55/100
250/250 [==============================] - 0s 902us/step - loss: 0.3357 - accuracy: 0.8636
Epoch 56/100
250/250 [==============================] - 0s 927us/step - loss: 0.3354 - accuracy: 0.8629
Epoch 57/100
250/250 [==============================] - 0s 939us/step - loss: 0.3349 - accuracy: 0.8619
Epoch 58/100
250/250 [==============================] - 0s 950us/step - loss: 0.3346 - accuracy: 0.8621
Epoch 59/100
250/250 [==============================] - 0s 958us/step - loss: 0.3346 - accuracy: 0.8641
Epoch 60/100
250/250 [==============================] - 0s 941us/step - loss: 0.3349 - accuracy: 0.8608
Epoch 61/100
250/250 [==============================] - 0s 950us/step - loss: 0.3343 - accuracy: 0.8620
Epoch 62/100
250/250 [==============================] - 0s 914us/step - loss: 0.3344 - accuracy: 0.8621
Epoch 63/100
250/250 [==============================] - 0s 928us/step - loss: 0.3346 - accuracy: 0.8633
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8624
Epoch 65/100
250/250 [==============================] - 0s 905us/step - loss: 0.3336 - accuracy: 0.8635
Epoch 66/100
250/250 [==============================] - 0s 948us/step - loss: 0.3338 - accuracy: 0.8616
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8625
Epoch 68/100
250/250 [==============================] - 0s 944us/step - loss: 0.3335 - accuracy: 0.8620
Epoch 69/100
250/250 [==============================] - 0s 954us/step - loss: 0.3337 - accuracy: 0.8640
Epoch 70/100
250/250 [==============================] - 0s 895us/step - loss: 0.3335 - accuracy: 0.8612
Epoch 71/100
250/250 [==============================] - 0s 964us/step - loss: 0.3334 - accuracy: 0.8615
Epoch 72/100
250/250 [==============================] - 0s 942us/step - loss: 0.3331 - accuracy: 0.8619
Epoch 73/100
250/250 [==============================] - 0s 938us/step - loss: 0.3326 - accuracy: 0.8619
Epoch 74/100
250/250 [==============================] - 0s 933us/step - loss: 0.3325 - accuracy: 0.8618
Epoch 75/100
250/250 [==============================] - 0s 932us/step - loss: 0.3324 - accuracy: 0.8627
Epoch 76/100
250/250 [==============================] - 0s 907us/step - loss: 0.3324 - accuracy: 0.8611
Epoch 77/100
250/250 [==============================] - 0s 989us/step - loss: 0.3325 - accuracy: 0.8621
Epoch 78/100
250/250 [==============================] - 0s 912us/step - loss: 0.3319 - accuracy: 0.8615
Epoch 79/100
250/250 [==============================] - 0s 961us/step - loss: 0.3318 - accuracy: 0.8633
Epoch 80/100
250/250 [==============================] - 0s 895us/step - loss: 0.3318 - accuracy: 0.8608
Epoch 81/100
250/250 [==============================] - 0s 942us/step - loss: 0.3318 - accuracy: 0.8626
Epoch 82/100
250/250 [==============================] - 0s 895us/step - loss: 0.3316 - accuracy: 0.8629
Epoch 83/100
250/250 [==============================] - 0s 904us/step - loss: 0.3319 - accuracy: 0.8619
Epoch 84/100
250/250 [==============================] - 0s 939us/step - loss: 0.3315 - accuracy: 0.8625
Epoch 85/100
250/250 [==============================] - 0s 911us/step - loss: 0.3318 - accuracy: 0.8616
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3318 - accuracy: 0.8614
Epoch 87/100
250/250 [==============================] - 0s 971us/step - loss: 0.3317 - accuracy: 0.8615
Epoch 88/100
250/250 [==============================] - 0s 959us/step - loss: 0.3312 - accuracy: 0.8639
Epoch 89/100
250/250 [==============================] - 0s 932us/step - loss: 0.3315 - accuracy: 0.8635
Epoch 90/100
250/250 [==============================] - 0s 930us/step - loss: 0.3313 - accuracy: 0.8610
Epoch 91/100
250/250 [==============================] - 0s 917us/step - loss: 0.3312 - accuracy: 0.8636
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3313 - accuracy: 0.8631
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3310 - accuracy: 0.8629
Epoch 94/100
250/250 [==============================] - 0s 906us/step - loss: 0.3307 - accuracy: 0.8637
Epoch 95/100
250/250 [==============================] - 0s 935us/step - loss: 0.3311 - accuracy: 0.8619
Epoch 96/100
250/250 [==============================] - 0s 949us/step - loss: 0.3309 - accuracy: 0.8629
Epoch 97/100
250/250 [==============================] - 0s 975us/step - loss: 0.3312 - accuracy: 0.8635
Epoch 98/100
250/250 [==============================] - 0s 979us/step - loss: 0.3305 - accuracy: 0.8633
Epoch 99/100
250/250 [==============================] - 0s 912us/step - loss: 0.3307 - accuracy: 0.8621
Epoch 100/100
250/250 [==============================] - 0s 941us/step - loss: 0.3305 - accuracy: 0.8618

In [55]:
y_pred = ann.predict(X_test)

In [56]:
y_pred = (y_pred > 0.5)

In [58]:
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [60]:
from sklearn.metrics import confusion_matrix,accuracy_score
print(accuracy_score(y_test,y_pred))
cm = confusion_matrix(y_test,y_pred)
print(cm)

0.8565
[[1501   94]
 [ 193  212]]

0 - Stays in the Bank

---


1- Leaves the Bank